#logo{
    height: 40px;
    width: 86.22px;
}

.bg1{
    background-image: url("./hot-gadgets/bg/biography-bg.png");
    background-size: cover;
    /* border: 1px solid red; */
}
.container{
    /* border: 1px solid skyblue; */
    padding-bottom: 50px;
}
.carousel-item{
   padding:10%;
}
p{
    color: gray;
    font-size: medium;
}
.center-text{
    margin-top: auto;
    margin-bottom: auto;
}
.btn-mid{
    margin-left: auto;
    margin-bottom: auto;
}
.carousel-indicators li{
   background-color: gray;
   border-radius: 50%;
   width: 6px;
   height: 6px;
   margin: 0px 9px;
    
}
.carousel-indicators .active{
    width: 45px;
    border-radius: 10px;
    height: 4px;
    background-color: rgb(255, 81, 0);
    /* background: linear-gradient(to right, #f46b45, #eea849);  */
}

.colored-text{
    color:#e53935;
}
.free-padd{
    padding:10px
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;

}
.card img{
    
}

/* .row{
    border:blueviolet;
}
 .col{
    border: 2px solid burlywood
} */

.ctrl-img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
.center-text-lr{
   text-align: center;
}
.line{
    height: 8px;
    width: 100px;
    border-radius: 4px;
    background-color: orange;
    margin: 0 auto;
}